@import "tailwindcss";


@media (max-width: 1273px) {
  .custom-responsive {
    flex-direction: column;
  }
    .custome-col-width {
    width: 100%;
  }
}
@media (min-width: 1274px) {
  .custom-responsive {
    flex-direction: row;

  }
}


@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.animate-slide-up {
  animation: slide-up 0.4s ease-out forwards;
}
